body {
    background-color: #fff;
    color: #333;
}

#menu {
    background-color: #dfd;
    margin-right: 0px;
    z-index: 30;
}

#menu > * {
    float: right;
}

#page {
    margin-left: 12px;
    padding: 8px;
    position: absolute;
    z-index: 2;
}

#title {
    font-family: Arial;
    color: #303;
}

#footer {
    padding: 10px 0px;
}

#footer > * {
    display: inline;
}

#message {
    border: 1px solid #f9f;
    color: #706;
    padding: 3px;
    background-color: #fbf;
    font-size: 10pt;
    width: 500px;
    float: left;
}

#commit {
    float: right;
}

